body{
    background-image: url("../visual/whatsapp.jpg");
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

thead th {
  background-color: #448144;
  border-color: black;
  color: white;
}

tbody td {
  background-color: white;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: white;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }

.navbar-toggler {
  border: none;
  background: transparent !important;
}
.link { color: #264926; }
.link:hover { color: #3a703a; }

.btn-upiicsa, .btn-rev-upiicsa:hover, .btn-rev-upiicsa:focus, .btn-rev-upiicsa:active, .btn-rev-upiicsa.active, .open>.dropdown-toggle.btn-rev-upiicsa   {
    color: #ffffff;
    background-color: #448144;
}

.btn-rev-upiicsa, .btn-upiicsa:hover, .btn-upiicsa:focus, .btn-upiicsa:active, .btn-upiicsa.active, .open>.dropdown-toggle.btn-upiicsa  {
  color: #448144;
  background-color: #ffffff;
}

.bg-upiicsa{
    color: #ffffff;
    background-color: #448144;
}

.bg-upiicsa-lg {
    color: white;
    background-color: black;
}

.veryweak{
	color: #F04040!important
}
.weak{
	color: #FF853C!important;
}
.medium{
	color: #FC0!important;
}
.strong{
	color: green!important;
}

input:valid {
  border-color: green;
}


/* Navigation Bar */



.navbar-nav a {
  color: #ffffff;
  text-align: center;
  
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}